<ion-card class="task-card" [class.completed]="task().completed">
  <ion-card-content>
    <div class="task-header">
      <div class="task-info">
        <div
          class="task-category"
          [style.background]="task().categoryColor || 'var(--ion-color-medium)'"
        ></div>

        <ion-checkbox
          [checked]="task().completed"
          (ionChange)="toggleStatus.emit(task())"
        >
        </ion-checkbox>

        <div>
          <h2>{{ task().title }}</h2>
        </div>
      </div>

      <div class="task-actions">
        <ion-button fill="clear" (click)="edit.emit(task())">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear" color="danger" (click)="delete.emit(task())">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
