.task-card {
  margin: 12px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-info {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.task-category {
  width: 4px;
  min-width: 4px;
  height: 30px;
  border-radius: 8px;
}

.task-actions {
  display: flex;
}

.description {
  margin-top: 12px;
  color: var(--ion-color-medium);
}

.completed {
  opacity: .65;
}

.completed h2 {
  text-decoration: line-through;
}