<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de tareas
      <div class="home-subtitle">Hoy, {{ today | date: 'dd/MM/yyyy' }}</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCategoryManagmentModal()">
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(showCategoryManagment()) {
    <app-category-filter
    [categories]="categories()"
    [selectedCategoryId]="selectedCategoryId()"
    (selected)="onSelectedCategory($event)"
  />
  }

  @if(tasksSelected().length > 0) {
  <app-task-list
    [tasks]="tasksSelected()"
    (edit)="onEditTask($event)"
    (delete)="onDeleteTask($event)"
    (toggle)="onToggleTask($event)"
  />
  } @else {
    <div class="no-tasks">
      No tienes ninguna tarea.
    </div>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openCreateTaskForm()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
