<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> To-do list </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreateCategoryForm()">
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-category-filter
    [categories]="categories()"
    [selectedCategoryId]="selectedCategoryId()"
    (selected)="onSelectedCategory($event)"
  />

  @if(tasks().length > 0) {
  <app-task-list
    [tasks]="tasksSelected()"
    (edit)="onEditTask($event)"
    (delete)="onDeleteTask($event)"
    (toggle)="onToggleTask($event)"
  />
  } @else {
  <ion-note>No tienes ninguna tarea creada.</ion-note>
  }

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openCreateTaskForm()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
