.no-tasks{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  color: var(--ion-color-medium);
}

.home-subtitle{
  font-size: 11px; 
  font-weight: normal; 
  color: var(--ion-color-medium); 
  margin-top: 2px;
}