<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> To-do list </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-category-filter
    [categories]="categories()"
    [selectedCategoryId]="selectedCategoryId()"
    (selected)="onSelectedCategory($event)"
  />
  
  @if(tasks().length > 0) {
    <app-task-list [tasks]="tasks()" />
  } @else {
    <ion-note>No tienes ninguna tarea creada.</ion-note>
  }
</ion-content>
