<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"> Cerrar </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    @for (category of categories(); track category.id) {
      <ion-card class="task-card">
        <ion-card-content>
          <div class="task-header">
            <div class="task-info">
              <div
                class="task-category"
                [style.background]="category.color || 'var(--ion-color-medium)'"
              ></div>
              <div>
                <h2>
                  {{ category.name }}
                </h2>
              </div>
            </div>

            <div class="task-actions">
              <ion-button fill="clear" (click)="openEditCategory(category)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>

              <ion-button
                fill="clear"
                color="danger"
                (click)="deleteCategory(category.id)"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    }
  </ion-list>

  <ion-button
    class="custom-primary-button"
    (click)="openCreateCategory()"
    expand="block"
  >
    <ion-icon slot="start" name="add-outline"> </ion-icon>

    Nueva categoría
  </ion-button>
</ion-content>
